body {
  background-color: #2A2D34;
  padding: 2em;
  font-family: "proxima-nova",sans-serif;
  color: #efefef;
}

h1 {
  font-weight: bold;
  font-size: 2.7em;
  white-space: nowrap;
  letter-spacing: 0.05em;
  color: #f3f3f3;
  background-color: #3D5A6C;
  display: inline-block;
  padding: 0.25em;
  margin-left: -0.25em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0.05em;
}

.contact, .experience {
  letter-spacing: 0.02em;
  font-weight:100;
}

h3 {
  display: inline-block;
  border-top: 1px solid #fff;
  width: 13em;
  margin-top: 3.5em;
  margin-bottom: 0.7em;
  text-transform: uppercase;
  font-size: 1.2em;
}

p {
  margin: 0.05em;
}

a {
  color: #efefef;
  text-decoration: none;
}

a:hover {
  color: #CDDDDD;
}
